@import "reset.css";


body {
    font-family: Helvetica;
    box-sizing: border-box;
}


/** -------------здесь хедерная часть-----------**/


.nav-wrapper {
    background-color: #263238;
}

.nav-wrapper i {
    color: #607d8b;
}

.main-header:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #263238;
    opacity: 0.8;
}

.main-header__item {
    position: absolute;
    color: #ff9e80;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    line-height: 50%;
}

.main-header__item p {
    text-align: center;
}

/**------------------------------ текст карт табличек -----------------------**/

.block-info {
    padding-top: 30px;
}

.referens1 {
    font-family: Verdana;
    color: #eceff1;
    font-weight: normal !important;
    font-size: 16px;
    line-height: 22px;
}

.referens2 {
    font-family: Verdana;
    color: #eceff1;
    font-weight: normal !important;
    font-size: 16px;
    line-height: 22px;
}

.experience1 {
    font-family: Verdana;
    color: #263238;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.card-content1 {
    padding: 25px 20px;
    font-family: Verdana;
    color: #263238;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
}

.card-content1 a {
    font-family: Verdana;
    color: #ff7043;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.card-content2 {
    padding: 25px 20px;
    margin-bottom: 5px;
    font-family: Verdana;
    color: #263238;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
}

.card-content2 a {
    font-family: Verdana;
    color: #ff6e40;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.card-titl {
    font-family: Verdana;
    color: #ff6e40;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.card-reveal {
    padding-top: 25px;
    font-family: Verdana;
    color: #263238;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.card-titl {
    font-family: Verdana;
    color: #ff6e40;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.card-reveal {
    padding-top: 25px;
    font-family: Verdana;
    color: #263238;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}


/* -------------тут начинаются стили для заголовка ----------*/


/** -------------кнопака хедера контакты----------------**/


.main-header .btn {
    margin-top: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.btn {
    cursor: pointer;
    background: none;
    padding: 10px 30px;
    border: 2px solid #f1443f;
    border-radius: 10px/30px 40px/20px 20px/40px 10px/20px;
    color: #f14642;
    transition: .4s;
}


btn:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

/**---------------------контактные телефоны----------------**/
.contacts {
    color: wheat;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.ellow {
    color: #d2481d;
}

.red {
    color: rgba(213, 0, 0, 0.73);
}

.purple {
    color: rgba(209, 0, 208, 0.6);
}

.azur {
    color: #568e99;
}

.blue {
    color: #1c2ba5;
}

.logo img {
    weight: 100px;
    height: 100px;
}

.menu img {
    weight: 100px;
    height: 100px;
}


/** --------------------------о нас ---------------------**/
.about-as {
    margin-top: 0;
    background-color: #fbffce;
}


.about-as__text {
    top: 0;
    font-family: Helvetica;
    letter-spacing: 5px;
    margin-left: 50%;
    color: #214746;
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;

}

/** -------------------blocks--------------------- **/

.block_about-us {
    display: flex;
    justify-content: center;
    height: 100%;
}


.block-text {
    color: white;
    font-family: Verdana;
    letter-spacing: 2px;
    font-size: 24px;
    padding: 24px;
}

.block-text-container {

}

.block-text-container p {
    width: 50%;
}

.block-relative {
    overflow: auto;
    overflow: auto;
    padding-top: 40px;
}

