.main-header {
    height: 100vh;
    position: relative;
    background-image: url(../../../image/чб.jpg);
}


/**============ main menu =================**/

.main-menu {
    display: flex;
    justify-content: space-between;
}

.main-menu__item  {
    color: black;
}

.menu-list__item {
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    position: relative;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-list__item:before,
.menu-list__item:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

.menu-list__item:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid #e2c327;
    border-top: 1px solid #e2c327;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.menu-list__item:after {
    top: 0;
    right: 0;
    border-right: 1px solid #e2c327;
    border-bottom: 1px solid #e2c327;
    transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}

.menu-list__item:hover {
    cursor: pointer;
}


.menu-list__item:hover:before,
.menu-list__item:hover:after{
    height: 100%;
    width: 100%;
    opacity: 1;
}
.menu-list__item:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.menu-list__item:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}



/** ======================== main header title ============================== **/

.main-title {
    font-family: MyFont;
    font-size: 36px;
    top: 50%;
    left: 50%;
    animation: title-animation  4s forwards ;
}

.main-title:nth-child(1) {
    font-size: 79px;
    top: 10%;
    color: rgb(44, 156, 132);
    animation: title-animation-final-1 8s forwards ;
}

.main-title:nth-child(2) {
    font-size: 69px;
    top: 70%;
    color: rgb(205, 65, 40);
    animation: title-animation-final-2 4s forwards;
}

.main-title:nth-child(3) {
    color: #e2c327;
    animation: title-animation-final 32s forwards ;
}

@keyframes title-animation-final-1 {
    0% {
        transform: translateX(-450%);
    }

    60% {
        transform: translateX(-50%);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}

@keyframes title-animation-final-2 {
    0% {
        transform: translateX(450%);
    }

    80% {
        transform: translateX(-50%);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}

@keyframes title-animation-final {
    0% {
        transform: translate(-50%, -70%) scale(.1);
        opacity: 0;}
    100% {
        transform: translate(-50%, -70%) scale(6);
        opacity: 1;
    }
}

@keyframes title-animation {
    0% {
        transform: translate(-50%, -70%) scale(.1);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -70%) scale(3.5);
        opacity: 0;
    }
}


